WPF_SmartList/Connected Services/AuthService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UserExistsByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsByEmail" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UserExistsByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IAuthService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ValidateResetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResetToken" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ValidateResetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_FindUserByToken_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByToken" />
  </wsdl:message>
  <wsdl:message name="IAuthService_FindUserByToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUserByResetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByResetToken" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUserByResetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByResetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/RegisterUser" message="tns:IAuthService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterUserResponse" message="tns:IAuthService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExistsByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/UserExistsByEmail" message="tns:IAuthService_UserExistsByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/UserExistsByEmailResponse" message="tns:IAuthService_UserExistsByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/SendEmail" message="tns:IAuthService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/SendEmailResponse" message="tns:IAuthService_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateResetToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ValidateResetToken" message="tns:IAuthService_ValidateResetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ValidateResetTokenResponse" message="tns:IAuthService_ValidateResetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/FindUserByToken" message="tns:IAuthService_FindUserByToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/FindUserByTokenResponse" message="tns:IAuthService_FindUserByToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByResetToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetUserByResetToken" message="tns:IAuthService_GetUserByResetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetUserByResetTokenResponse" message="tns:IAuthService_GetUserByResetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/LoginUser" message="tns:IAuthService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/LoginUserResponse" message="tns:IAuthService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ForgotPassword" message="tns:IAuthService_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ForgotPasswordResponse" message="tns:IAuthService_ForgotPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExistsByEmail">
      <soap:operation soapAction="http://tempuri.org/IAuthService/UserExistsByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IAuthService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateResetToken">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ValidateResetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByToken">
      <soap:operation soapAction="http://tempuri.org/IAuthService/FindUserByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByResetToken">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetUserByResetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:9000/CoreServiceLibrary/AuthService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>